@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: rgb(70, 142, 236);
}

header {
    padding: 30px 0px;
}

h1 {
    color: white;
    text-align: center;
}

main {
    width: 60%;
    margin: auto;
    padding: 50px 30px;

    background-color: white;

    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295)
}

main div.input-box {
    display: flex;
    margin-bottom: 15px;
}

main div.input-box label {
    width: 60px;
}

main div.input-button {
    margin-bottom: 15px;
}

main div.input-button input {
    padding: 5px 15px;

    color: white;
    background-color: rgb(70, 142, 236);

    border: 0;
    border-radius: 15px;

    cursor: pointer;
}

footer {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-style: italic;
}