@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: rgb(70, 142, 236);
}

header {
    padding: 30px 0px;
}

h1 {
    color: white;
    text-align: center;
}

main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;

    width: 60%;
    margin: auto;
    padding: 10px;

    background-color: white;

    border-radius: 15px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.295)
}

div#img {
    height: 250px;
    width: 250px;

    background-image: url(images/dawn-mod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    margin-top: 10px;
    color: white;
    text-align: center;
    font-style: italic;
}